// @screen-sm-min: 768px;
// @screen-md-min: 992px;
// @screen-lg-min: 1200px;

// /* Extra small devices (phones, less than 768px) */
// /* No media query since this is the default */

// /* Small devices (tablets, 768px and up) */
// @media (min-width: @screen-sm-min) {

// }

// /* Medium devices (desktops, 992px and up) */
// @media (min-width: @screen-md-min) {
// }

// /* Large devices (large desktops, 1200px and up) */
// @media (min-width: @screen-lg-min) {
// }

.home-view {
  // background-color: blue;
}

.home-header {
  // background-color: red;
  background: transparent;
  position: absolute;
  width: 100%;
}

.header-item {
  color: white;
  height: 60px;
  line-height: 60px;
  padding: 0 20px;
}

.pull-left {
  float: left;
}

.pull-right {
  float: right;
}

.header-item {
  color: white;
  cursor: pointer;
}

.icon-button {
  color: white;
  text-decoration: none;
}

.log-in-button {
  color: white;
  text-decoration: none;
}

.connect-inventory-button {
  border: 1px solid white;
  border-radius: 5px;
  color: white;
  display: inline;
  padding: 4px 12px;
  text-decoration: none;
}

.connect-inventory-button:hover {
  background-color: rgba(0,0,0,0.35);
}

.home-hero {
  // background-color: pink;
  height: 600px;
  padding-top: 60px;
}

.hero-background {
  background: url('../assets/background-1.jpg');
  background-size: 100% 600px;
  background-repeat: no-repeat;
  height: 600px;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  z-index: -1;
}

.hero-content-container {
  height: 540px;
  padding-bottom: 105px;
  position: relative;
}

.hero-content {
  display: table;
  height: 100%;
  text-align: center;
  width: 100%;
}

.hero-content-text-container {
  color: white;
  display: table-cell;
  vertical-align: middle;
}

.hero-content-welcome {
  margin-bottom: 15px;
  font-size: 60px;
  font-weight: 700;
}

.hero-content-subtext {
  font-size: 18px;
  font-weight: 700;
}

.hero-footer {
  background-color: rgba(0,0,0,0.6);
  bottom: 0;
  left: 0;
  padding: 30px 15px;
  position: absolute;
  right: 0;
  text-align: center;
}

.hero-searchbar {

}

.search-item-input,
.search-location-input,
.search-button {
  border: none;
  height: 44px;
  vertical-align: middle;
}

.search-item-input,
.search-location-input {
  padding: 10px;
  width: 380px;
}

.search-item-input {
  border-right: 1px solid lightgray;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}

.search-button {
  background-color: #EC6A5C;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  color: white;
  width: 110px;
}

.search-button:hover {
  background-color: #AF4034;
}



.home-about {
  padding: 50px 150px;
  text-align: center;
}

.about-header {
  margin-bottom: 15px;
  padding: 0 30%;
}

.about-title {

}

.about-subtitle {
}

.about-content-container {
  display: table;
  width: 100%;
}

.about-content {
  display: table-cell;
  padding: 0 30px;
  width: 33.33%;
}


.home-footer {
  background-color: #3E4348;
  color: white;
  padding: 50px 0;
  text-align: center;
}

.footer-links {
  margin-bottom: 15px;
}

.footer-links a {
  color: white;
  font-weight: 600;
  margin-right: 15px;
  text-decoration: none;
}

.footer-question {
  margin-bottom: 15px;
}

.footer-question a {
  color: white;
  font-weight: 600;
  text-decoration: none;
}

.footer-incorporated {
  color: #82888A;
}